.topo {
    background: #C3CFD9;
    height: 75px;
    width: 100%;
    top: 0;
    position: fixed;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 550;
    font-size: 35px;
    color: #E8833A;
    text-align: center;
    margin-top: 20px;
}

.subtitulo {
    margin-top: 90px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.filme {
    margin-top: 15px;
    display: inline-block;
}

.catalogo {
    width: 130px;
    height: 170px;
    padding: 30px;

}

.daysAndTime {
    margin-top: 20px;
    margin-bottom: 90px;
}

.hora {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.caixinhaTime {
    background: #E8833A;
    border-radius: 3px;
    width: 80px;
    height: 40px;
    margin-left: 15px;
    text-decoration: none;




}

.horario {
    color: white;
    text-align: center;
    padding-top: 15px;
}

.day {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 15px;

}

.rodape {
    background: #DFE6ED;
    border: 1px solid #9EADBA;
    width: 100%;
    height: 80px;
    display: flex;
    bottom: 0;
    position: fixed;
}

.imgFooter {
    width: 45px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.subtituloFooter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #293845;
    margin-left: 8px;
    margin-top: 30px;
    text-align: center;


}

.todosAssentos {
    display: grid;
    grid-template-rows: 25px 25px 25px 25px 26px;
    grid-auto-flow: column;
    grid-gap: 10px;
    grid-auto-columns: 20px;
    justify-content: center;
    margin-top: 20px;
}

.numeroAssentos {
    background: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;
    width: 20px;
    height: 17px;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    align-self: center;
}

.indisponivel {
    background: #FBE192;
    border: 1px solid #F7C52B;
}

.selecionado {
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
}

.status {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 15px;
    margin-left: 20px;
    align-self: center;
    margin-left: 95px;

}

.palavra {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #4E5A65;
    align-self: flex-start;
    margin-top: 10px;
}

.statusname {
    width: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;

}

.inputs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.informacao {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-self: flex-start;
    margin-left: 35px;
    margin-top: 15px;
    color: #293845
}

.caixaInput {
    width: 80%;
    height: 35px;
    align-self: center;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #AFAFAF;

}

.reserva {
    background: #E8833A;
    border-radius: 3px;
    width: 50%;
    height: 40px;
    margin-top: 45px;
    align-self: center;

}

.reservarAssento {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
    background: #E8833A;
    border: none;
}

.sucesso {
    margin-top: 95px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;

}

.fraseSucesso {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #247A6B;
    text-align: center;
    width: 40%;
    align-self: center;
}
.info{
    margin-top: 35px;
    margin-left: 20px;
}

.titleinfo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #293845;
}
.nomeF{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #293845;
    margin-top: 10px;
}
.dataH{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #293845;
}
.fim{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    border-radius: 5px;
    height: 50px;
    text-decoration: none;

}
.home{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    background: #E8833A;
    text-decoration: none;
    width: 50%;
    padding-top: 15px;
    border-radius: 7px;
   
}